html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  height: 100vh;
  overflow-y: hidden;
  color: #333;
  background: #eee;
}

p {
  line-height: 1.5;
}

h3, h4 {
  font-weight: normal;
}

.beer-style {
  font-size: 10px;
  width: 100%;
  background: #ccc;
  padding: 20px;
  height: 25%;
  box-sizing: border-box;
}

.beer-style h2 {
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
  margin-bottom: 5px;
  font-size: 10px;
}

#category {
  margin: 0;
  display: inline-block;
  width: 750px;
  padding: 0;
}

#category li {
  list-style: none;
  display: inline-block;
  width: 25%;
  margin: 2px 0;
}

#beers {
  width: 300px;
  height: 75%;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: auto;
  background: #ddd;
}

#beers a {
  display: block;
  box-sizing: border-box;
  padding: 10px 20px;
  color: #3565b2;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

#beers a.show-more {
  color: #333;
}

#selected {
  display: inline-block;
  height: 75%;
  position: absolute;
  top: 25%;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 60px 40px;
  font-size: 14px;
}

#selected #title {
  font-size: 24px;
}

#selected #abv, #selected #ibu, #selected #srm, #selected #og, #selected #style {
  font-weight: bold;
  font-size: 16px;
}

#selected img {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  float: left;
  margin-right: 40px;
  margin-bottom: 40px;
  width: 300px;
  height: auto; /* Not all labels are square */
}

#selected img[src=""], #selected img:not([src]) {
  display: none;
}

#selected h4 {
  color: #3565b2;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
}

.alcohol {
  display: inline-block;
  margin-right: 20px;
}
